# Output
output-*/

# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
